/* Project 6 Styles */

*, *:before, *:after {
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

p{
font-family: 'Futura', sans-serif;
color: black;
}

body{
    color: #2b2d2f;
    background-image:url("../img/coffee365.jpg") ;
    background-position: center;
    background-repeat:repeat-y;
    font-family: 'Futura', sans-serif;
    height: 100%;
    width: 100%;
    background-size: cover;
    text-align: center;
    font-weight: bold;
}
h1 {
    color: black;
}
h2{
    color:rgb(48, 48, 48);
}
h3{
    color:black;
}
h4{
    color:rgb(48, 48, 48);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}
li {
    float: left;
    padding: 16px;
    text-align: center;
    text-decoration:  none;
}